absl-py==2.1.0
aevb @ git+https://github.com/PaulScemama/aevb.git@b6afa6fe4b395eb8b3d46ff2c89e6f670420a542
chex==0.1.86
jax==0.4.25
jaxlib==0.4.25
ml-dtypes==0.3.2
numpy==1.26.4
opt-einsum==3.3.0
optax==0.2.2
scipy==1.12.0
toolz==0.12.1
typing_extensions==4.10.0
